<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="list-group">
        <% if @analytics.length < 1 %>
          <h3 class="text-muted text-center">
            You have no tweets to analyze!
          </h3>
        <% else %>
          <% @analytics.each do |anal| %>
            <div class="list-group-item">
              <span class="badge"><%= anal.frequency %></span>
              <h4><%= anal.key %></h4>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>